@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}

.name-itro {
  font-size: 22px;
  font-weight: bold;
}
.primary-color {
  background-color: #464cac;
}
.primary-text-color {
  color: #464cac;
}

.yellow-bg {
  background-color: #ffd43a;
}

.intro-section {
  height: 200px;
}

@media screen and (max-width: 480px) {
  .nav-icon {
    padding: 10px !important;
  }
  .icon-size {
    font-size: 20px;
  }
  .nav-section {
    width: 100vw !important;
    padding-left: 0% !important;
    margin-left: 0% !important;
  }
  .mobile-image-hide {
    display: none !important;
  }
  .name-itro {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
  .actual-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .intro-width {
    width: 100vw !important;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
  }

  .intro-info {
    text-align: justify;
    font-size: 0.9rem !important;
  }

  .download-btn {
    /* height: 50px !important; */
    padding: 10px !important;
    justify-content: center !important;
    align-self: center;
    display: flex;
  }
  .download-section {
    width: 100vw !important;
    display: flex !important;
    justify-content: center !important;
  }
  .btn-font {
    font-size: 0.5rem !important;
  }
}
