@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}

.name-itro {
  /* font-size: 1.1rem; */
  /* display: inline-block; */
  font-size: 22px;
  font-weight: bold;
  /* transform: scale(.5, 1); */
}
.primary-color {
  background-color: #464cac;
}
.primary-text-color {
  color: #464cac;
}

.yellow-bg {
  background-color: #ffd43a;
}

.intro-section {
  height: 200px;
}

@media screen and (max-width: 480px) {
  .nav-icon {
    padding: 5px !important;
  }
  .icon-size {
    font-size: 28px;
  }
}
